:root {
    --kombugreen: #394931;
    --artichoke: #90997F;
    --laurelgreen: #AFB59D;
    --pastelgray: #D4D0B9;
    --quicksilver: #9EA99C;
    --transition: 0.3s ease;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--pastelgray);
    color: black;
    font-family: 'Segoe UI', sans-serif;
}  

html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

.navbar {
    background: var(--pastelgray);
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.navbar .container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 20px;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #4A4A4A;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 60px;
}

.nav-links a {
    text-decoration: none;
    color: gray;
    font-weight: 600;
    transition: var(--transition);

}

.nav-links a:hover {
     color: black;
}

.section {
    padding: 75px 100px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.section-title {
    font-size: 30px;
    margin-bottom: 30px;
    color:black;
    text-align: center;
}
.hero-section {
    background-color: var(--laurelgreen);
    padding: 80px 0;
    text-align: center;
    padding: 125px;
    border-bottom: 10x solid black;
}
.skill-box:hover{
    background-color: var(--kombugreen);
    color: black;
    transform: translateY(-5px);
}

.profile-img {
    width: 180px;
    height: 180px; 
    border-radius: 60px;
    margin: 0 auto 20px auto;
    object-fit: cover;
    display: block;
    padding: 10px;
}

.aboutme-card {
    background: var(--laurelgreen);
    border: 1px solid black;
    padding: 30px;
    border-radius: 30px;
    max-width: 800px;
    margin: 0 auto;
    line-height: 2;
}
.aboutme-card:hover{
    color: black;
    transform: translateY(-5px); 
    background-color: var(--quicksilver);
}
.aboutme-card p{
    margin-bottom: 30px;
}
.aboutme-card strong{
    color: var(--quicksilver);
}

.aboutme-line span {
    font-weight: bold;
    color: cadetblue;
    margin-right: 10px;
}


.container2 {
    display: flex;
    gap: 40px;
    align-items: flex-start;
    justify-content: center;
    max-width: 1200px;
    margin: 40px auto;
    padding: 40px 20px;
}

#skills, #projects {
    flex: 1;
    text-align: center;
   
}
#skills .section-title {
    text-align: center;
    width: 100%;
    display: block;
}
.skills-grid {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(3, auto);   
    gap: 15px;
    margin-top: 20px;
    justify-content: center;   
    
}

.skill-box {
    background: var(--laurelgreen);
    padding: 15px;
    border: 1px solid black;
    border-radius: 30px;
    transition: var(--transition);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.skill-box:hover {
    background-color:var(--quicksilver) ;
    color: black;
    transform: translateY(-5px);
}


.projects-grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    
}

.project-card {
    background: var(--laurelgreen);
    border: 1px solid black;
    padding: 25px;
    border-radius: 15px;
    transition: var(--transition);
    width: 100%;
}

.project-card.placeholder {
    border: 2px dashed #ccc;
    background: var(--laurelgreen);
}

.project-card:hover {
    background-color: var(--quicksilver);
    transform: scale(1.02);
    border-color: 1px solid black;
}

.project-status {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background: beige;
    border: 1px solid lightcoral;
    border-radius: 10px;
    font-size: 12px;
}


.contact-wrapper {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 50px;
}

.contact-item {
    text-decoration: none;
    color: black;
    background: var(--laurelgreen);
    padding: 20px;
    border-radius: 20px;
    width: 200px;
    border: 1px solid lightgray;
    transition: var(--transition);
}

.contact-item:hover {
    background: var(--quicksilver);
    transform: translateY(-5px);
}

.footer {
    padding: 40px;
    text-align: center;
}